
@{
    ViewBag.Title = "cancel";
    Layout = "~/Views/Shared/_LayoutTalentorientation.cshtml";
}
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">Transaction failed</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li> 
                    </ol>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="header_socallink">
                    <div class="footer_social_widget mt15">
                        <ul>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="payment-box">
                    <div class="payment">
                        <div class="check"><img src="/Content/Talentorientation/images/close.png"> </div>
                        <h3>Payment Failed</h3>
                    </div>

                    <div class="pament-none"> 
                        <h4>Suggestion</h4>
                        <p>Please contact with talentorientations team</p>
                    </div> 
                    <a href="/" class="btn btn-log btn-thm2 red12">Back to Homepage</a> 

                </div>
            </div>

        </div>

    </div>
</section>
