
@{
    ViewBag.Title = "jeeneet";
    Layout = "~/Views/Shared/_LayoutTalentorientation.cshtml";
}
	<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">JEE/NEET</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">JEE/NEET</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="header_socallink">
                    <div class="footer_social_widget mt15">
                        <ul>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Text Content -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="become_instructor_container about_content">
                    <h3>JEE/NEET</h3>
                    <p>Talent Orientations provides you the list of entrance exams related to Engineering and Medical, JEE/NEET. Each entrance exam gives you detailed information about the exam including entrance preparation guidelines and analytical and subjective study material along with the question papers. </p>
                    <p>For the Entrance exams of JEE/NEET, Students can appear for these examinations after completing their 12th education. We are providing complete comprehensive solution for your Upcoming Entrance Exams.</p>

                    <h3>JEE Main</h3>
                    <p>JEE Main examinations are conducted by the NTA (National Testing Agency). Through this examination, students are eligible to get admission to the B.Tech & B.Arch courses. This exam is organized twice every year in national level. On the basis of JEE Main score, students can get to the various NITs, CFTIs, IITs and other institutions of India.</p>

                    <h3>JEE Advanced</h3>
                    <p>JEE advanced exam is conducted to offer admission into bachelor’s, Integrated masters & dual degree courses in all the IITs. These courses are offered in the area of engineering, sciences & architecture. It is regulated by the IITs on a rotation basis. Candidates can apply for this exam on a national level.</p>

                    <h3>NEET</h3>
                    <p>NEET (National Eligibility Cum Entrance Test) is a national level medical examination. On the basis of this exam, candidates get admission into MBBS & BDS courses all over the country. No state or university level medical examinations will be regulated by the state authorities.</p>
                </div>
            </div>
        </div>

    </div>
</section>