
@{
    ViewBag.Title = "useofwebsite";
    Layout = "~/Views/Shared/_LayoutTalentorientation.cshtml";
}
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">Use of Website</h4>
                    <ol class="breadcrumb"> 
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Use of Website</li>
                    </ol>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="header_socallink">
                    <div class="footer_social_widget mt15">
                        <ul>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About Text Content -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="become_instructor_container about_content">
                    <h3>Use of Website</h3>
                    <h3>Prohibited Activities</h3>

                    <p>You represent, warrant, covenant and undertake that you shall not host, display, upload, modify, publish, transmit, update or share any information on the Website, that:</p>
                    <ul class="pagelist abclist">
                        <li>belongs to another person and to which you do not have any right to;</li>
                        <li>is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;</li>
                        <li>harm minors in any way;</li>
                        <li>infringes any patent, trademark, copyright or other proprietary rights;</li>
                        <li>violates any law for the time being in force;</li>
                        <li>deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</li>
                        <li>impersonate another person;</li>
                        <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</li>
                        <li>threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.</li>
                    </ul>


                    <p>You further represent, warrant, covenant and undertake that your use of the Website shall not: </p>
                    <ul class="pagelist numericlist">
                        <li>violate any applicable local, provincial, state, national or international law, statute, ordinance, rule or regulation;</li>
                        <li>interfere with or disrupt computer networks connected to the Website;</li>
                        <li>impersonate any other person or entity, or make any misrepresentation as to your employment by or affiliation with any other person or entity; </li>
                        <li>forge headers or in any manner manipulate identifiers in order to disguise the origin of any user information;</li>
                        <li>upload, post, transmit, publish, or distribute any material or information for which you do not have all necessary rights and licenses;</li>
                        <li>upload, post, transmit, publish or distribute any material which infringes, violates, breaches or otherwise contravenes the rights of any third party, including any copyright, trademark, patent, rights of privacy or publicity or any other proprietary right;</li>
                        <li>interfere with or disrupt the use of the Website by any other user, nor "stalk", threaten, or in any manner harass another user;</li>
                        <li>upload, post, transmit, publish, or distribute any material or information which contains a computer virus, or other code, files or programs intending in any manner to disrupt or interfere with the functioning of the Website, or that of other computer systems;</li>
                        <li>use the Website in such a manner as to gain unauthorized entry or access to the computer systems of others;</li>
                        <li>upload, post, transmit, publish or distribute any material or information which constitutes or encourages conduct that would constitute a criminal offence, give rise to other liability, or otherwise violate applicable law;</li>
                        <li>upload, post, transmit, publish, or distribute any material or information that is unlawful, or which may potentially be perceived as being harmful, threatening, abusive, harassing, defamatory, libelous, vulgar, obscene, or racially, ethnically, or otherwise objectionable;</li>
                        <li>reproduce, copy, modify, sell, store, distribute or otherwise exploit for any commercial purposes the Website, or any component thereof (including, but not limited to any materials or information accessible through the Website);</li>
                        <li>use any device, software or routine to interfere or attempt to interfere with the proper working of the Website;</li>
                        <li>take any action that imposes an unreasonable or disproportionately large load on the Website infrastructure;</li>
                        <li>any interpretation of test results or study material other than as a tool of learning and enhancing knowledge; or</li>
                        <li>the tests and exercises are created for you to test your understanding of concepts and are not to be interpreted as a sample question paper for any examinations.</li>
                    </ul>
                    <p>Any content uploaded by you on the Website shall be subject to relevant laws and may be disabled and/or may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Website, Talent Orientations may terminate your account/block your access to the Website and Talent Orientations reserve the right to remove any non-compliant content uploaded by you on the Website.</p>

                    <p>Talent Orientations reserves the right to remove any content or links that allegedly infringes any other person's copyright at any point of time</p>

                    <p>Software (if any) that is made available to download from the Website, excluding software that may be made available by end-users through a Communication Service, (Software) is the copyrighted work of the software provider. Your use of the Software is governed by the terms of the end user License Agreement unless you first agree to the License Agreement terms.</p>

                    <p>Talent Orientations reserves the right, in its sole discretion, to terminate or refuse all or part of its services, for any reason without notice to you. </p>

                    <h3>Ask and Answer Section</h3>
                    <p>Please note that the answers under this section or the tests/notes uploaded in the 'Upload Tests & Notes' sub-section may be uploaded by users directly. Therefore, Talent Orientations will not be liable for the content of the same.</p>

                    <p>Further, Talent Orientations may certify an answer posted by a user to be correct or not. This however does not mean that Talent Orientations has checked whether the answer has or has not been copied by such user from any other source without authorization. Talent Orientations shall surely look into any concern of this nature that is brought to its attention.</p>

                    <h3>Delivery Policy</h3>
                    <p>Delivery means the digital download or the physical delivery of subscribed content to the customers. At present we have two modes of delivery - online digital download from the website and physical shipment like DVD.</p>

                    <ul class="pagelist">
                        <li>Online digital delivery of content is through internet, i.e., downloading the subscribed course content from www. talentorientations.com website to Talent Orientations software</li>
                        <li>The physical delivery of the paid subscription will be shipped in 2 working days of the receipt of funds through speed post or courier like BlueDart. The delivery typically takes place in 1-2 working days to metros and 3-4 working days to major towns. The user may track the shipment by logging into Talent Orientations website, in cases where the shipment agency provides such facility</li>
                        <li>The physical medium associated with free Demo-DVD etc. is shipped by ordinary post in 2 working days of receiving request.</li>
                    </ul>


                </div>
            </div>
        </div>

    </div>
</section>